@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

:root {
    --bg-color: #f1e5d9;
    --color-white: #fff;
    --text-color1: #000;
    --text-color2: #d49556;
    --header-height: 2rem;
    --z-fixed: 100;
    --body-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    background-color: var(--bg-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 4.5rem 0 2rem;
}

body::-webkit-scrollbar {
    width: 1rem;

}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #d49556;
}

.container {
    max-width: 1208px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    width: 9rem;
}

.nav__item a {
    color: var(--text-color1);
    font-weight: 600;
    font-family: var(--body-font);
}

.nav__numbers span {
    display: block;
    text-align: right;
    line-height: 1.2rem;
    font-family: var(--body-font);
}

.nav__numbers>span:nth-child(2) {
    font-size: 1.3rem;
    font-weight: bold;
}


/* HOME SECTION */

.home {
    display: grid;
    align-items: center;
    row-gap: 1rem
}

.home__right {
    position: relative;
    justify-self: center;
}

.home__img {
    width: 20rem;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 23rem;
    height: 23rem;
    background-color: #e4c09d;
    border-radius: 50%;
    z-index: -1;
}

.home__left {
    justify-self: center;
}

.home__slot {
    font-size: 2rem;
    font-family: 'BhuTuka Expanded One', cursive;
}

.home__title {
    position: relative;
    line-height: 4rem;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .4rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.home__title>span {
    display: block;
    position: absolute;
    top: 6rem;
    right: 12rem;
    transform: rotate(-30deg);
    z-index: 5;
    font-weight: lighter;
    font-family: 'Lobster', cursive;
    color: var(--text-color2);
}

.home__box {
    display: flex;
    align-items: center;
}

.home__box-title {
    background-color: var(--text-color1);
    color: var(--color-white);
    font-family: var(--body-font);
    padding: .5rem 2rem;
}

.home__box-pourcent {
    background-color: #e4c09d;
    font-family: var(--body-font);
    padding: .1em 1rem;
}

.home__box-pourcent>span {
    display: block;
    font-size: 25px;
}

/* slide SECTION */

.slider {
    position: relative;

}


.slider .swiper {
    width: 70%;
    height: 12rem;
}

.slider .swiper-slide {
    
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}


.name {
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
}

.name>span:nth-child(1) {
    font-size: 1.8rem;
}

.name>span:nth-child(2),
.price {
    margin-bottom: .5rem;
}

.sider__img {
    position: absolute;
    right: 0;
    transform: rotate(-20deg);
    width: 40%;
    height: 100%;
    bottom: -20%;
}


/* VIRTUAL SECTION */

.virtual {
    display: grid;
    row-gap: 2rem;
}

.virtual__centent-title {
    font-size: 2rem;
    margin-bottom: 1.3rem;
    font-family: var(--body-font);
    font-weight: 700;
}


.virtual__centent-subtitle>span {
    font-size: 1.5rem;
    display: block;
    font-family: var(--body-font);
}

.virtual__centent-subtitle>span:nth-child(1) {
    margin-bottom: .7rem;
    font-family: var(--body-font);
}

.try {
    position: relative;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.shade {
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 10rem;
}

.virtual__img {
    width: 30rem;
    justify-self: center;
}

.price {
    font-size: 2.5rem;
}

/* FEATURED SECTION */

.feature__head {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

.feature__title {
    font-size: 2rem;
    font-family: var(--body-font);
}

.plane {
    position: absolute;
    top: -5rem;
    left: 5%;
    width: 7rem;
}

.feature__content {
    display: grid;

}

.feature__menu {
    justify-self: center;
}

.feature__list {
    display: flex;
    column-gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 3rem;
}

.feature__item {
    font-size: 1rem;
    font-family: var(--body-font);
    cursor: pointer;
}

.feature__item:hover {
    color: #d49556;
}

.feature__grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 2rem;
    padding: 2rem;
    position: absolute;
    width: 100;
    opacity: 0;
    ;

}

.acti {
    opacity: 1;
}

.feature__img {
    display: flex;
    border-radius: 10px;
    background-color: var(--text-color2);
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    justify-self: center;
}

.feature__img {
    width: 15rem;
}

.feat__img {
    position: absolute;
    right: 0;
    transform: rotate(-20deg);
    width: 40%;
    height: 100%;
    bottom: -20%;
}

.lolo {
    height: 300px;
    position: relative;
    overflow-y: scroll;

}

.lolo::-webkit-scrollbar {
    width: 1rem;

}

.lolo::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.lolo::-webkit-scrollbar-thumb {

    border-radius: 1rem;
    background-color: #d49556;
    /* outline: 1px solid slategrey; */
}


.rates{
    display: grid;
}

.rates__left-title,
.rates__right-title{
    text-align: center;
    font-size: 2rem;
    font-family: var(--body-font);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.rates__left>span,
.rates__right>span{
    display: block;
    text-align: center;
    margin-bottom: .5rem;
    font-family: var(--body-font);
}



/* SECTION REVIEW */


.review__container{

    margin: 0 40px;
    /* background-color: #000; */
    overflow: hidden;
}

.img-content,
.review__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 14px;
}

.review__content{
    row-gap: .5rem;
}
.review__card-img{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-white);
}
.review__card-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid #9fa39e; */
}

.img-content{
    position: relative;
    padding: 40px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e4c09d;
    border-radius: 15px 15px 0 15px;
}

.overlay::after,
.overlay::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 40px;
    height: 40px;
    background-color: #e4c09d;

}


.overlay::after{
    border-radius: 0 15px 0 0 ;
    background-color: #fff;
}


.review__cards{
    width: 317px;
    border-radius: 15px;
    background: var(--color-white);
}

.review__desc{
    font-size: 13px;
    text-align: center;
    font-family: var(--body-font);
    margin-bottom: 1rem;
}

.review__btn{
    border: none;
    outline: none;
    background: var(--text-color2);
    font-size: 1rem;
    font-family: var(--body-font);
    padding: .7rem 1rem;
    border-radius: .5rem;
    border: var(--text-color2) solid 2px;
    color: #fff;
    transition: all .5s;
}


.review__btn:hover{
    background: none;
    color: #d49556;
}

hr{
    /* border: none; */
    outline: none;
    width: 100%;
    height: 3px;
    background: #814100;
    margin: 3rem 0;
}

/* FOOTER SECTION */

.footer{
    width: 100%;
    height: 100%;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(2, 1f);
    row-gap: 2rem;
}

.footer__header{
    font-size: 25px;
    font-family: var(--body-font);
    margin-bottom: 1rem;
}

.footer__content{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;   
    

}

.footer__content i{
    font-size: 1.5rem;
    cursor: pointer; 
}

.footer__link{
    font-size: 14px;
    font-family: var(--body-font);
    cursor: pointer; 
}
.footer__link:hover{
    color: #d49556;
}

.footer__end{
    text-align: center;
}
.footer__end p{
    font-size: 12px;
    font-family: var(--body-font);
}

@media (max-width: 767px) {

    .nav__menu {
        position: fixed;
        right: -50%;
        top: 0;
        width: 50%;
        background-color: var(--text-color2);
        padding: 2rem 1.5rem 4rem;
        height: 100vh;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        transition: all 0.5s;
    }

    .nav__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
    }

    .nav__item {
        margin-top: 1rem;

    }

    .nav__numbers {
        display: none;
    }

    /* VIRTUAL SECTION */

    .virtual__centent {
        justify-self: center;
    }

}

.show {
    left: 0;
}



@media (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 361px) {

    .home__title {
        position: relative;
        line-height: 4rem;
        font-size: 4rem;
    }

    .home__title>span {

        top: 6rem;
        right: 8rem;
        font-size: 3.7rem;
    }

    .home__box-title {
        font-size: 10px;
    }

    .home__box-pourcent>span {
        font-size: 15px;
        padding: .1em .5rem;
    }
}


@media (min-width: 767px) {

    .nav__btns,
    .nav__close {
        display: none;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    /* HOME SECTION */

    .home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    /* VIRTUAL SECTION */

    .virtual {
        grid-template-columns: repeat(2, 1fr);
    }

    .virtual__centent {
        justify-self: center;
    }

    .virtual__centent-title {
        font-size: 2.5rem;
        font-family: var(--body-font);
    }

    .virtual__centent-subtitle>span:nth-child(1),
    .virtual__centent-subtitle>span:nth-child(2) {
        font-size: 1.8rem;

    }

    .try>span:nth-child(1) {
        font-size: 1.5rem;
        font-family: var(--body-font);
    }

    .shade {
        width: 20rem;
        bottom: -4rem;
    }

    .feature__content {
        display: grid;
        grid-template-columns: 25% auto;
    }



    .feature__list {
        flex-direction: column;
    }

    .feature__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }


    .rates{
        grid-template-columns: 1fr 2fr 1fr;
    }

    .rates__left,
    
    .rates__right
    {
        align-self: end;
    }
    .rates__center {
        justify-self: center;
    }
    .rates__img{
        width: 30rem;
    }

    .footer__container{

        grid-template-columns: repeat(3, 1fr);
 
    }

}


@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }


    .home__img {
        width: 30rem;
    }

    .circle {
        position: absolute;
        width: 28rem;
        height: 29rem;

    }


    .home__slot {
        font-size: 2rem;
        font-family: 'BhuTuka Expanded One', cursive;
        margin-bottom: 1rem;
    }

    .home__title {
        line-height: 6rem;
        font-size: 7rem;
    }

    .home__title>span {
        top: 6rem;
        right: 7rem;
    }


    .home__box-title {
        background-color: var(--text-color1);
        color: var(--color-white);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        padding: .5rem 2.3rem;
    }

    .home__box-pourcent {


        padding: .1em 1rem;
    }

    .home__box-pourcent>span {
        font-size: 1.4rem;
        padding: .45rem 1rem;
    }


    .feature__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .rates__left-title{
        font-size: 4rem;
        line-height: 3rem;
    }
    .rates__right-title{
        font-size: 4rem;
    }

    .footer__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2rem;
    }
}

@media screen and (max-width: 992px) {
    .slider .swiper {
        width: 90%;
     
    }
}